* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #23252C;
}

.container {
    margin: 50px auto;
    color: #ffffff;
    background-color: #1a1b21;
    width: 400px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
}

.profile {
    border-radius: 10px 10px 0px 0px;
}

.header--name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 20px 20px 0px 20px;
}

.header--title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin: 0;
    padding: 7px 7px 0px 7px;
}

.header--url {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-align: center;
    color: #F5F5F5;
    padding: 9px;
}

.header--button {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    margin: 0 15px;
    border-radius: 6px;
}

.linkedin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    background: #5093e2;
    border-color: #5093e2;
    color: white;
    margin: 0 15px;
    border-radius: 6px;
}

.about {
    margin-top: 24px;
    padding: 0px 45px 0px 45px;
}

.about--h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.about--text {
    font-size: 12px;
    color: #4A4E74;
    margin-bottom: 18px;
    line-height: 15px;
    color: #DCDCDC;
    text-align: justify
}